
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <form>
      <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-md-4">
          <input
            *ngIf="!playerThreeNameCheck"
            type="text"
            id="playerName"
            class="form-control"
            placeholder="Name"
            #playerName
          >
          <p *ngIf="playerThreeNameCheck"
             class="text-center"
             style="font-size: 20px;
             margin-bottom: 0px;"
          >{{ getName() }}</p>
        </div>
        <div class="col-md-3">
          <input
            type="number"
            id="playerScore"
            class="form-control"
            placeholder="Points"
            #playerScore
          >
        </div>
        <div class="col-md-3">
          <button class="btn btn-success"
                  type="submit"
                  (click)="updatePlayer(); playerScore.value = ''"
          >Done</button>
        </div>
        <div class="col-md-2">
          <p class="text-center"
             style="font-size: 20px;
             margin-bottom: 0px;">{{ checkScore() }}</p>
        </div>
      </div>
    </form>
  </div>
</div>
